$header-title: #15142C;
$header-text: #1A1A1A;
$header-background: #FFF8EA;

.header {
    max-width: 1360px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    &__title {
        font-size: calc(22px + 33 * ((100vw - 320px) / (1440 - 320)));
        text-transform: uppercase;
        font-family: 'RobotoMono';
        font-weight: 700;
        color: $header-title;
        text-align: center;
        letter-spacing: 0.02973em;
        margin-bottom: 24px;
        line-height: 120%;
    }
    &__text {            
        font-family: 'RobotoMono';
        font-size: calc(15px + 8 * ((100vw - 320px) / (1440 - 320)));
        line-height: 152%;
        text-align: center;
        color: $header-text;
    }
    &__mobile-text {
        font-family: 'RobotoMono';
        font-size: calc(15px + 2 * ((100vw - 320px) / (667 - 320)));
        line-height: 147%;
        text-align: center;
        color: $header-text;
    }
    &__share-text {
        display: none;
        text-align: center;
        font-family: 'Formular';
        color: #999999;
        font-size: 13px;
        margin-bottom: 13px;
    }
    &__separator {
        margin-top: 16px;
    }
    &__content {
        height: 100%;
    }
}

@media screen and (max-width: 390px) {
    .header{
        height: 479px;
        padding-top: 10%;
        background: linear-gradient(125deg, transparent 7px, $header-background 0) top left,
        linear-gradient(-125deg, transparent 7px, $header-background 0) top right,
        linear-gradient(-55deg, transparent 7px, $header-background 0) bottom right,
        linear-gradient(55deg, transparent 7px, $header-background 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        &__title {
            margin-bottom: 12px;
            margin-left: 16px;
            margin-right: 16px;
        }
        &__text {
            display: none;
        }
        &__mobile-text {
            display: block;
            max-width: 288px;
            margin: 0 auto;
        }
        &__logo {
            width: 37%;
            max-width: 150px;
            height: auto;
            margin-top: 10%;
            margin-bottom: 79px;
        }
        &__content {
            background: url('../img/left-dots-mobile.svg') 0% 69%  no-repeat,
            url('../img/right-dots-mobile.svg') 100% 69% no-repeat;
        }
        &__share-text {
            display: block;
        }
        &__separator {
            height: 24px;
        }

    }
}

@media screen and (min-width: 391px) and (max-width: 450px) {
    .header {
        height: 479px;
        padding-top: 10%;
        background: linear-gradient(125deg, transparent 7px, $header-background 0) top left,
        linear-gradient(-125deg, transparent 7px, $header-background 0) top right,
        linear-gradient(-55deg, transparent 7px, $header-background 0) bottom right,
        linear-gradient(55deg, transparent 7px, $header-background 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        &__text {
            display: none;
        }
        &__share-text {
            display: block;
        }
        &__content {
            background: url('../img/left-dots-mobile.svg') -15% 70%  no-repeat,
            url('../img/right-dots-mobile.svg') 100% 70% no-repeat;
            background-size: 41% auto, 53% auto;
        }
        &__logo {
            width: 118px;
            max-width: 150px;
            height: auto;
            margin-top: 30px;
            margin-bottom: 20%;
        }
        &__separator {
            height: 28px;
        }
  
    }
}
@media screen and (min-width: 451px) and (max-width: 667px) {
    .header {
        padding-top: 7%;
        padding-bottom: 7%;
        background: linear-gradient(125deg, transparent 9px, $header-background 0) top left,
        linear-gradient(-125deg, transparent 9px, $header-background 0) top right,
        linear-gradient(-55deg, transparent 9px, $header-background 0) bottom right,
        linear-gradient(55deg, transparent 9px, $header-background 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;   
        &__text {
            display: none;
        }
        &__share-text {
            display: block;
        }
        &__mobile-text {
            margin: 0 5%;
        }
        &__content {
            background: url('../img/left-dots-mobile.svg') 0% 70%  no-repeat,
            url('../img/right-dots-mobile.svg') 100% 70% no-repeat;
            background-size: 38% auto, 50% auto;
        }
        &__logo {
            width: 118px;
            height: auto;
            margin-top: 6%;
            margin-bottom: 17%;
        }
        &__separator {
            height: 30px;
        }
  
    }
}
@media screen and (min-width: 668px) and (max-width: 1023px) {
    .header {
        min-height: 500px;
        padding-top: 6%;
        padding-bottom: 8%;
        background: linear-gradient(125deg, transparent 10px, $header-background 0) top left,
        linear-gradient(-125deg, transparent 10px, $header-background 0) top right,
        linear-gradient(-55deg, transparent 10px, $header-background 0) bottom right,
        linear-gradient(55deg, transparent 10px, $header-background 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;  
        &__title {
            margin-left: 16px;
            margin-right: 16px;
        } 
        &__text {
            display: block;
            margin: 0 auto;
            max-width: 665px;
        }
        &__share-text {
            display: block;
            font-size: 16px;
        }
        &__mobile-text {
            display: none;
        }
        &__content {
            background: url('../img/left-dots-mobile.svg') -5% 85%  no-repeat,
            url('../img/right-dots-mobile.svg') 112% 85% no-repeat;
            background-size: 34% auto, 44% auto;
        }
        &__logo {
            width: 20%;
            max-width: 150px;
            height: auto;
            margin-top: 5%;
            margin-bottom: 40px;
        }
        &__separator {
            height: 28px;
        }
        &__content {
            height: auto;
        }
    }
}
@media screen and (min-width: 1024px) { 
    .header {
        height: 730px;
        padding: 67px 40px 74px;
        background: linear-gradient(125deg, transparent 25px, $header-background 0) top left,
        linear-gradient(-125deg, transparent 25px, $header-background 0) top right,
        linear-gradient(-55deg, transparent 25px, $header-background 0) bottom right,
        linear-gradient(55deg, transparent 25px, $header-background 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        &__title {
            font-size: 55px;
            margin-right: calc(50% - 866px/2);
            margin-left: calc(50% - 866px/2);
        }
        &__text {            
            margin-right: calc(50% - 950px/2);
            margin-left: calc(50% - 950px/2);
            font-size: 23px;    
            line-height: 35px;        
        }
        &__separator {
            margin-top: 43px;
        }
        &__logo{
            margin-bottom: 48px;
            margin-top: 56px;
        }
        &__mobile-text {
            display: none;
        }
        &__share-text {
            display: none;;
        }
        &__content {
            height: 100%;
            background: url('../img/left-dots.svg') bottom left  no-repeat,
            url('../img/right-dots.svg') bottom right no-repeat;
            background-size: 28% auto, 45% auto;
        }
    }
}

@media screen and (min-width: 1195px) {
    .header {
        height: 745px;
    }

}

@media screen and (min-width: 1400px) {
    .header {
        height: 770px;
    }

}



