$background-main: #F7F7F7;
$card-number-background: #EA6263;
$card-number-background-disabled: #999999;
$card-number: #FFFFFF;
$card-title: #000000;
$card-text: #262626;
$sidebar-active-item: #EA6263;
$sidebar-default-item: #999999;
$bottom-text: #999999;
$background-dropdown: #FFFFFF;
$dropdown-text: #1A1A1A;

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1360px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 64px;
    padding-right: 40px;
    padding-left: 40px;
    background: linear-gradient(113deg, transparent 28px, $background-main 0) top left,
    linear-gradient(-113deg, transparent 28px, $background-main 0) top right,
    linear-gradient(-66deg, transparent 28px, $background-main 0) bottom right,
    linear-gradient(66deg, transparent 28px, $background-main 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.cards {
    padding-top: 64px;
    &__separator {
        margin-top: 36px;
        margin-bottom: 56px;
    }
    &__last-separator {
        margin-top: 36px;
        margin-bottom: 0;
    }
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        height: 300px;
        width: 582px;
        background: url('../img/card-border.svg') no-repeat;
        background-size: cover;
        padding: 48px 24px 48px;
        margin-top: 16px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $card-number-background;
        width: 60px;
        height: 60px;
        font-family: 'RobotoMono';
        font-weight: 700;
        font-size: 26px;
        color: $card-number;
        &_default {
            background-color: $card-number-background;
        }
        &_disabled {
            background-color: $card-number-background-disabled;
        }
    }
    &__title {
        font-family: 'RobotoMono';
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        /* or 133% */
        text-transform: uppercase;
        color: $card-title;
        text-align: center;
        margin-bottom: 32px;
        width: 290px;
    }
    &__description {
        font-family: 'RobotoMono';
        font-size: 17px;
        line-height: 26px;
        /* or 153% */
        color: $card-text;
        text-align: center;
    }
}

.card-soon {
    align-items: center;
}
.dropdown {
    display: none;
}
.sidebar {
    position: sticky;
    top: 0;
    width: 220px;
    padding-top: 132px;
    padding-left: 23px;
    &__outer {
        margin-right: 10.1%;
        display: block;
    }
    &__link {
        font-family: 'RobotoMono';
        font-size: 13px;
        line-height: 18px;
        color: $sidebar-default-item;
        &--active {
            color: $sidebar-active-item;
        }
        &::before {
            content: '\00B7';
            display: inline;
            color: inherit;
            position: absolute;
            top: 8px;
            left: -15px;
            top: -2px;
            left: -25px;
            font-size: 41px
        }
    }
    &__item {
        margin-bottom: 22px;
        list-style-type: none;
        position: relative;
    }
    &__heading {
        display: none;
    }
}
.bottom {
    width: 100%;
    &__text {
        text-align: center;
        color: $bottom-text;
        font-size: 13px;
        line-height: 18px;
        font-family: 'Formular';
        margin-bottom: 27px;
    }
    &__logo {
        padding-top: 64px;
        padding-bottom: 24px;
    }
    &__share-text {
        display: none;
    }
}
.sidebar-hide {
    display: none;
}

@media screen and (min-width: 930px) {
    .card {
        &__image {
            height: 136px;
            width: 210px;
            margin-right: 32px;
            position: absolute;
            top: 0;
            left: 0;

        }
        &__image-text {
            position: relative;
            display: flex;
            flex-direction: column;

        }
    }
    .floated-title {
        text-align: left;
        margin-bottom: 16px;
        font-family: 'RobotoMono';
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        /* or 133% */
        text-transform: uppercase;
        color: $card-title;
        padding-left: 241px;
    }
    .floated-description {
        text-align: left;
        padding-left: 241px;
    }
    .dropdown {
        &__inner {
            display: none;
        }
    }
}

@media screen and (min-width: 930px) and (max-width: 1090px) {
    .sidebar {
        &__outer {
            margin-right: 2.5%;
        }
   }
   .main {
       justify-content: space-between;
   }
}

@media screen and (max-width: 929px) {
   .main {
       justify-content: center;
       padding-top: 24px;
       background: linear-gradient(113deg, transparent 9px, $background-main 0) top left,
       linear-gradient(-113deg, transparent 9px, $background-main 0) top right,
       linear-gradient(-66deg, transparent 9px, $background-main 0) bottom right,
       linear-gradient(66deg, transparent 9px, $background-main 0) bottom left;
       background-size: 50% 50%;
       background-repeat: no-repeat;
   }
    .cards {
       margin-right: auto;
       margin-left: auto;
       padding-top: 62px;
       &__separator {
            height: 23px;
            margin-top: 24px;
            margin-bottom: 56px;
       }
       &__last-separator {
            height: 23px;
            margin-top: 24px;
            margin-bottom: 56px;
       }
    }
   .card {
       width: 296px;
        &__number {
            width: 40px;
            height: 40px;
            font-size: 18px;
            margin-bottom: 16px;
        }
        &__content {
            width: 296px;
            height: auto;
            padding:0;
            margin-top: 0;
            background: none;
        }
        &__image {
            margin-top: 26px;
            margin-bottom: -18px;
            height: 136px;
        }
        &__image-text {
            display: flex;
            flex-direction: column;
        }
        &__title {
            width: 200px;
        }
        &__title-wrapper {
            text-align: center;
            width: 296px;
            height: 152px;
            margin: 0;
            background: url('../img/card-border.svg');
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 29px;
        }
        &__image-title {
            order: -1;
            font-family: 'Formular';
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            text-align: center;
            width: 296px;
            height: 152px;
            margin: 0;
            background: url('../img/card-border.svg');
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__description {
            font-size: 14px;
            line-height: 21px;
            width: 100%;
            padding-top: 29px;
            width: 288px;
        }
        &__description-soon {
            font-size: 14px;
            line-height: 21px;
            width: 100%;
            padding-top: 0;
            width: 288px;
        }
   }
   
   .dropdown {
        display: block;
        position: sticky;
        z-index: 2;
        top: 24px;
        &__icon {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 24px;
            height: 24px;
            padding: 7px 5px;
            margin-right: 5px;
        }
        &__icon-line {
            height: 2px;
            width: 14px;
            background-color: $dropdown-text;

        }
        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 160px;
            height: 44px;
            cursor: pointer;
            background: $background-dropdown;
            border: 1px solid #E6E6E6;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 22px;
            text-transform: uppercase;
            font-family: 'Formular';
            font-weight: bold;
            font-size: 11px;
        }
        &__outer {
            height: 1724px;
            z-index: 3;
            margin: 0 auto;
            position: absolute;
        }
        &__mobile {
            width: 288px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            background-color: $background-dropdown;
        }
        &__heading-mobile-title {
            font-family: 'Formular';
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;

        }
        &__x-icon {
            width: 10px;
            height: 10px;
        }
        &__heading-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 68px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 25px;
        }
        &__body-mobile {
            height: 307px;
            padding: 31px 30px 48px 50px;
        }
   }
   .card-soon {
        text-align: center;
        width: 296px;
        height: 152px;
        margin: 0;
        background: url('../img/card-border.svg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
   }
   .bottom {
       min-width: 288px;
       padding-bottom: 10px;
       &__logo {
           height: 19.2px;
           width: auto;
           padding: 0;
       }
       &__text {
           margin-right: 15px;
           margin-left: 15px;
           margin-top: 20px;
       }
       &__share-text {
            display: block;
            text-align: center;
            font-family: 'Formular';
            color: #999999;
            font-size: 13px;
            margin-bottom: 13px
       }
   }
   .sidebar {
       display: none;   
       &__outer {
           margin-right: 0;
           position: sticky;
           top: 24px;
           z-index: 4;
       }

}}
